name: Build and Deploy WebGL

on:
  push:
    branches: [ "main" ] # 确保你的主分支叫 main
  workflow_dispatch:

# 必须加上权限设置，否则无法发布网页
permissions:
  contents: write

jobs:
  buildAndDeploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          lfs: true

      - name: Cache Library
        uses: actions/cache@v3
        with:
          path: Library
          key: Library-${{ hashFiles('Assets/**', 'Packages/**', 'ProjectSettings/**') }}
          restore-keys: |
            Library-

      # 编译步骤 (已删除不需要的 Email/Password)
      - name: Build WebGL
        uses: game-ci/unity-builder@v4
        env:
          UNITY_LICENSE: ${{ secrets.UNITY_LICENSE }}
        with:
          targetPlatform: WebGL
          buildsPath: build # 输出目录

      # 补丁：解决 GitHub Pages 不支持 gzip/br 的问题
      - name: Fix Content-Type
        run: |
          touch build/WebGL/.nojekyll

      # 部署步骤
      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: build/WebGL # GameCI 默认输出路径
          branch: gh-pages
